@model WebQLThueXe.Models.Account
    
    <!DOCTYPE HTML>
    <html>

    <head>

        <title>Đăng nhập</title>
        <script src="../../Assets/js/jquery.min.js"></script>
        <!-- Custom Theme files -->
        <link href="../../Assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- for-mobile-apps -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <!-- //for-mobile-apps -->
        <!--Google Fonts-->
        <link href='../../Assets//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
       
            <!--header start here-->
            <div class="header">
                <div class="header-main">
                    <h1>Đăng nhập</h1>
                    <div class="header-bottom">
                        <div class="header-right w3agile">

                            <div class="header-left-bottom agileinfo">
                                @using (Html.BeginForm("DangNhapAccount", "DangNhap"))
                                {
                                    @Html.AntiForgeryToken()
                                <form action="DangNhapAccount" method="post">
                                    @Html.ValidationMessageFor(model => model.IdA, "", new { @class = "text-danger" })
                                    <input type="text" placeholder="Số điện thoại" name="IdA" />
                                    @Html.ValidationMessageFor(model => model.PassA, "", new { @class = "text-danger" })
                                    <input type="password" placeholder="Mật khẩu" name="PassA" />
                                    <div class="remember">
                                        <span class="checkbox1">
                                            <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Nhớ tôi</label>
                                        </span>
                                        <div class="forgot">
                                            <h6><a href="#">Quên mật khẩu?</a></h6>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    @if (ViewBag.Message != null)
                                    {
                                        <p class="error">@ViewBag.ErrorInfo</p>
                                    }
                                    <input type="submit" value="Đăng nhập">
                                </form>
                                    <div class="header-left-top">
                                        <br />
                                        <div style="color:white; font-size: 20px; text-align: center;">Bạn chưa có tài khoản?</div>
                                        <br />
                                    </div>
                                }
                                    <a href="/DangKy"><input type="submit" style="  background-color: #04AA6D" value="Đăng Ký"></a>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        }
            <!--header end here-->
            <div class="copyright">
                <p>©TTGo 2021. All rights reserved</p>
            </div>
            <!--footer end here-->


        </body>
</html>
   
    <style>
        .text-danger {
            font-size:small;
            color: red
        }
    </style>
